body {
  background-color:#F1F2F7;
  margin: 0;
}
#bureau {
background-image:url(bureau.jpg);
height: 727px;
}
.container {
  width: 100%;
}

.test {
  padding:0;
}
.socialcontact li {
  text-align: center;
  list-style-type: none;
  display: inline-block;
}
.portfolionav {
  text-align: center;
}
.sectionheading {
  background: #FFF;
  box-shadow: 0px 3px 3px 0px rgba( 1, 2, 2, 0.05);
  padding: 30px 0;
  margin-bottom: 60px;
}
.sectionheading h2 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  color: #a8aab3;
  font-size: 33px;
  font-weight: 300;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 3px;
}
.text-center li {
  display: inline-block;
}
.header {
  background-color: rgba(26, 188, 156, 0.8);
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  padding-top: 5em;
}
.progress p {
  color: black;
}
.jumbotron {
  background-color: white;
}
.imgprofil {
  width: 30em;
  margin-left: 8em;
}
.imgclient {
    margin-left: 8em;
}
.imgclient img {
  width: 15em;
  margin-left: 6em;
}
.map {
  margin-left: 25em;
}
.para {
  color: red;
}
.projetclient {
  margin-left: 8em;
}
.portfolioimg {
  margin-left: 5em;
  margin-top: 2em;
  padding-bottom: 5em;
}
/*DESIGN SKILL*/
